* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	background: no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: white;
	font-family: 'Karla', sans-serif;
	text-shadow: 0px 0px 10px #1a1a1a;
	font-weight: 400;
	line-height: 1.6;
}

.author-text {
	opacity: 0.8;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	padding: 15px;
	background-image: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0.6) 8%,
		rgba(0, 0, 0, 0) 20%
	);
}

.top-section {
	display: flex;
	justify-content: space-between;
}

.bottom-section {
	display: flex;
	justify-content: space-between;
}

.time {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0 auto;
	text-align: center;
	font-size: 6rem;
	background: #292c358d;
	border-radius: 1em;
	width: 500px;
}

.crypto {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	max-width: 750px;
	font-size: 1.1rem;
	text-align: center;
}

.crypto p {
	margin: 0.4em;
}

.crypto-card {
	background: #292c358d;
	border-radius: 1em;
	padding: 1em;
}

.crypto-card {
	margin-right: 1em;
}

.weather {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-self: flex-start;
}

.weather-temp {
	margin: 0;
	font-size: 2.25rem;
	margin-left: -10px;
	background: #292c358d;
	border-radius: 5px;
	padding: 2px 5px;
}

.weather img {
	width: 70px;
	margin-right: 0.5em;
}

.weather-city {
	width: 100%;
	font-size: 1.25rem;
	text-align: right;
	margin: 0;
}

.quote {
	font-size: 1.1rem;
}
